
_build
build/
build.dir/
BuildNinja
BuildNinjaDebug
BuildNinjaRelease
BuildXcode
cmake-build*
compile_commands.json
.DS_Store
*.log
**/main
.mull.rust.cmake
**/*.o
output/
projects/**
!projects/CMakeLists.txt
*.retry
*.sqlite
tags
tests-lit/tests/**/*.ll
tmp/
.vagrant
